
The goal of this homework is to train a simple model for predicting the duration of a ride - similar to what we did in this module.


## Q1. Downloading the data

We'll use [the same NYC taxi dataset](https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page),
but instead of "**Green** Taxi Trip Records", we'll use "**Yellow** Taxi Trip Records".

Download the data for January and February 2023.

Read the data for January. How many columns are there?

* 16
* 17
* 18
* 19

In [1]:
import pandas as pd
from sklearn.feature_extraction import DictVectorizer
from scipy.sparse import csr_matrix
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import joblib
import numpy as np

In [2]:
def loadYellowTripData(year, month_start, month_end):
    data = []
    for m in range(month_start, month_end+1):
        url = f"https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_{year}-{m:02d}.parquet"
        print(f"Processing yellow_tripdata_{year}-{m:02d}.parquet")
        df = pd.read_parquet(url)
        df['month'] = f"{m:02d}"
        data.append(df)
    return pd.concat(data, ignore_index=True)

In [3]:
url = "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet"
df = pd.read_parquet(url)

In [4]:
df.shape

(3066766, 19)

In [5]:
len(df.columns)

19

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3066766 entries, 0 to 3066765
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[us](2), float64(12), int64(4), object(1)
memory usage: 444.6+ MB

In [7]:
dfAll = loadYellowTripData(2023, 1, 2)

Processing yellow_tripdata_2023-01.parquet
Processing yellow_tripdata_2023-02.parquet

In [9]:
dfAll.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5980721 entries, 0 to 5980720
Data columns (total 21 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
 19  month                  object
 20  Airport_fee            float64
dtypes: datetime64[us](2), float64(13), int64(4), object(2)
memory usage: 958.2+ MB

In [8]:
dfAll[dfAll.month == '01'].shape

(3066766, 21)

## Q2. Computing duration

Now let's compute the `duration` variable. It should contain the duration of a ride in minutes. 

What's the standard deviation of the trips duration in January?

* 32.59
* 42.59
* 52.59
* 62.59

In [16]:
# January
df_jan = dfAll[dfAll.month == '01']
del df

In [17]:
df_jan['duration'] = df_jan.tpep_dropoff_datetime - df_jan.tpep_pickup_datetime

C:\Users\kiramishima\AppData\Local\Temp\ipykernel_36632\3925291819.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_jan['duration'] = df_jan.tpep_dropoff_datetime - df_jan.tpep_pickup_datetime

In [18]:
df_jan.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,month,Airport_fee,duration
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,...,0.5,0.00,0.0,1.0,14.30,2.5,0.00,01,NaN,0 days 00:08:26
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,...,0.5,4.00,0.0,1.0,16.90,2.5,0.00,01,NaN,0 days 00:06:19
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,...,0.5,15.00,0.0,1.0,34.90,2.5,0.00,01,NaN,0 days 00:12:45
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,...,0.5,0.00,0.0,1.0,20.85,0.0,1.25,01,NaN,0 days 00:09:37
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,...,0.5,3.28,0.0,1.0,19.68,2.5,0.00,01,NaN,0 days 00:10:50

In [19]:
td = df_jan.duration.iloc[0]

In [20]:
td.total_seconds() / 60

8.433333333333334

In [21]:
df_jan.duration = df_jan.duration.apply(lambda td: td.total_seconds() / 60)

C:\Users\kiramishima\AppData\Local\Temp\ipykernel_36632\725587808.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_jan.duration = df_jan.duration.apply(lambda td: td.total_seconds() / 60)

In [22]:
df_jan.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,month,Airport_fee,duration
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,...,0.5,0.00,0.0,1.0,14.30,2.5,0.00,01,NaN,8.433333
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,...,0.5,4.00,0.0,1.0,16.90,2.5,0.00,01,NaN,6.316667
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,...,0.5,15.00,0.0,1.0,34.90,2.5,0.00,01,NaN,12.750000
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,...,0.5,0.00,0.0,1.0,20.85,0.0,1.25,01,NaN,9.616667
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,...,0.5,3.28,0.0,1.0,19.68,2.5,0.00,01,NaN,10.833333

In [24]:
df_jan.duration.describe().T

count    3.066766e+06
mean     1.566900e+01
std      4.259435e+01
min     -2.920000e+01
25%      7.116667e+00
50%      1.151667e+01
75%      1.830000e+01
max      1.002918e+04
Name: duration, dtype: float64

In [25]:
df_jan.duration.std().round(2)

42.59

## Q3. Dropping outliers

Next, we need to check the distribution of the `duration` variable. There are some outliers. Let's remove them and keep only the records where the duration was between 1 and 60 minutes (inclusive).

What fraction of the records left after you dropped the outliers?

* 90%
* 92%
* 95%
* 98%

In [26]:
df1 = df_jan[(df_jan.duration > 1) & (df_jan.duration < 60)]

In [27]:
df1.duration.describe().T

count    3.008849e+06
mean     1.420544e+01
std      9.937594e+00
min      1.016667e+00
25%      7.216667e+00
50%      1.155000e+01
75%      1.818333e+01
max      5.998333e+01
Name: duration, dtype: float64

In [28]:
round(len(df1) / len(df_jan) * 100, 0)

98.0

## Q4. One-hot encoding

Let's apply one-hot encoding to the pickup and dropoff location IDs. We'll use only these two features for our model. 

* Turn the dataframe into a list of dictionaries (remember to re-cast the ids to strings - otherwise it will 
  label encode them)
* Fit a dictionary vectorizer 
* Get a feature matrix from it

What's the dimensionality of this matrix (number of columns)?

* 2
* 155
* 345
* 515
* 715

In [29]:
categorical = ['PULocationID', 'DOLocationID']
target = ['duration']
del df_jan

In [30]:
# Transforma listas de diccionarios de valores-características en vectores
dv = DictVectorizer()

In [31]:
trains_dicts = df1[categorical].astype(str).to_dict(orient='records')

In [32]:
X_train = dv.fit_transform(trains_dicts)

In [33]:
X_train

<3008849x515 sparse matrix of type '<class 'numpy.float64'>'
	with 6017698 stored elements in Compressed Sparse Row format>

In [35]:
dv.get_feature_names_out()

array(['DOLocationID=1', 'DOLocationID=10', 'DOLocationID=100',
       'DOLocationID=101', 'DOLocationID=102', 'DOLocationID=106',
       'DOLocationID=107', 'DOLocationID=108', 'DOLocationID=109',
       'DOLocationID=11', 'DOLocationID=111', 'DOLocationID=112',
       'DOLocationID=113', 'DOLocationID=114', 'DOLocationID=115',
       'DOLocationID=116', 'DOLocationID=117', 'DOLocationID=118',
       'DOLocationID=119', 'DOLocationID=12', 'DOLocationID=120',
       'DOLocationID=121', 'DOLocationID=122', 'DOLocationID=123',
       'DOLocationID=124', 'DOLocationID=125', 'DOLocationID=126',
       'DOLocationID=127', 'DOLocationID=128', 'DOLocationID=129',
       'DOLocationID=13', 'DOLocationID=130', 'DOLocationID=131',
       'DOLocationID=132', 'DOLocationID=133', 'DOLocationID=134',
       'DOLocationID=135', 'DOLocationID=136', 'DOLocationID=137',
       'DOLocationID=138', 'DOLocationID=139', 'DOLocationID=14',
       'DOLocationID=140', 'DOLocationID=141', 'DOLocationID=142',
       'DOLocationID=143', 'DOLocationID=144', 'DOLocationID=145',
       'DOLocationID=146', 'DOLocationID=147', 'DOLocationID=148',
       'DOLocationID=149', 'DOLocationID=15', 'DOLocationID=150',
       'DOLocationID=151', 'DOLocationID=152', 'DOLocationID=153',
       'DOLocationID=154', 'DOLocationID=155', 'DOLocationID=156',
       'DOLocationID=157', 'DOLocationID=158', 'DOLocationID=159',
       'DOLocationID=16', 'DOLocationID=160', 'DOLocationID=161',
       'DOLocationID=162', 'DOLocationID=163', 'DOLocationID=164',
       'DOLocationID=165', 'DOLocationID=166', 'DOLocationID=167',
       'DOLocationID=168', 'DOLocationID=169', 'DOLocationID=17',
       'DOLocationID=170', 'DOLocationID=171', 'DOLocationID=172',
       'DOLocationID=173', 'DOLocationID=174', 'DOLocationID=175',
       'DOLocationID=176', 'DOLocationID=177', 'DOLocationID=178',
       'DOLocationID=179', 'DOLocationID=18', 'DOLocationID=180',
       'DOLocationID=181', 'DOLocationID=182', 'DOLocationID=183',
       'DOLocationID=184', 'DOLocationID=185', 'DOLocationID=186',
       'DOLocationID=187', 'DOLocationID=188', 'DOLocationID=189',
       'DOLocationID=19', 'DOLocationID=190', 'DOLocationID=191',
       'DOLocationID=192', 'DOLocationID=193', 'DOLocationID=194',
       'DOLocationID=195', 'DOLocationID=196', 'DOLocationID=197',
       'DOLocationID=198', 'DOLocationID=2', 'DOLocationID=20',
       'DOLocationID=200', 'DOLocationID=201', 'DOLocationID=202',
       'DOLocationID=203', 'DOLocationID=204', 'DOLocationID=205',
       'DOLocationID=206', 'DOLocationID=207', 'DOLocationID=208',
       'DOLocationID=209', 'DOLocationID=21', 'DOLocationID=210',
       'DOLocationID=211', 'DOLocationID=212', 'DOLocationID=213',
       'DOLocationID=214', 'DOLocationID=215', 'DOLocationID=216',
       'DOLocationID=217', 'DOLocationID=218', 'DOLocationID=219',
       'DOLocationID=22', 'DOLocationID=220', 'DOLocationID=221',
       'DOLocationID=222', 'DOLocationID=223', 'DOLocationID=224',
       'DOLocationID=225', 'DOLocationID=226', 'DOLocationID=227',
       'DOLocationID=228', 'DOLocationID=229', 'DOLocationID=23',
       'DOLocationID=230', 'DOLocationID=231', 'DOLocationID=232',
       'DOLocationID=233', 'DOLocationID=234', 'DOLocationID=235',
       'DOLocationID=236', 'DOLocationID=237', 'DOLocationID=238',
       'DOLocationID=239', 'DOLocationID=24', 'DOLocationID=240',
       'DOLocationID=241', 'DOLocationID=242', 'DOLocationID=243',
       'DOLocationID=244', 'DOLocationID=245', 'DOLocationID=246',
       'DOLocationID=247', 'DOLocationID=248', 'DOLocationID=249',
       'DOLocationID=25', 'DOLocationID=250', 'DOLocationID=251',
       'DOLocationID=252', 'DOLocationID=253', 'DOLocationID=254',
       'DOLocationID=255', 'DOLocationID=256', 'DOLocationID=257',
       'DOLocationID=258', 'DOLocationID=259', 'DOLocationID=26',
       'DOLocationID=260', 'DOLocationID=261', 'DOLocationID=262',
       'DOLocationID=263', 'DOLocationID=264', 'DOLocationID=265',
       'DOLocationID=27', 'DOLocationID=28', 'DOLocationID=29',
       'DOLocationID=3', 'DOLocationID=30', 'DOLocationID=31',
       'DOLocationID=32', 'DOLocationID=33', 'DOLocationID=34',
       'DOLocationID=35', 'DOLocationID=36', 'DOLocationID=37',
       'DOLocationID=38', 'DOLocationID=39', 'DOLocationID=4',
       'DOLocationID=40', 'DOLocationID=41', 'DOLocationID=42',
       'DOLocationID=43', 'DOLocationID=44', 'DOLocationID=45',
       'DOLocationID=46', 'DOLocationID=47', 'DOLocationID=48',
       'DOLocationID=49', 'DOLocationID=5', 'DOLocationID=50',
       'DOLocationID=51', 'DOLocationID=52', 'DOLocationID=53',
       'DOLocationID=54', 'DOLocationID=55', 'DOLocationID=56',
       'DOLocationID=57', 'DOLocationID=58', 'DOLocationID=59',
       'DOLocationID=6', 'DOLocationID=60', 'DOLocationID=61',
       'DOLocationID=62', 'DOLocationID=63', 'DOLocationID=64',
       'DOLocationID=65', 'DOLocationID=66', 'DOLocationID=67',
       'DOLocationID=68', 'DOLocationID=69', 'DOLocationID=7',
       'DOLocationID=70', 'DOLocationID=71', 'DOLocationID=72',
       'DOLocationID=73', 'DOLocationID=74', 'DOLocationID=75',
       'DOLocationID=76', 'DOLocationID=77', 'DOLocationID=78',
       'DOLocationID=79', 'DOLocationID=8', 'DOLocationID=80',
       'DOLocationID=81', 'DOLocationID=82', 'DOLocationID=83',
       'DOLocationID=84', 'DOLocationID=85', 'DOLocationID=86',
       'DOLocationID=87', 'DOLocationID=88', 'DOLocationID=89',
       'DOLocationID=9', 'DOLocationID=90', 'DOLocationID=91',
       'DOLocationID=92', 'DOLocationID=93', 'DOLocationID=94',
       'DOLocationID=95', 'DOLocationID=96', 'DOLocationID=97',
       'DOLocationID=98', 'DOLocationID=99', 'PULocationID=1',
       'PULocationID=10', 'PULocationID=100', 'PULocationID=101',
       'PULocationID=102', 'PULocationID=106', 'PULocationID=107',
       'PULocationID=108', 'PULocationID=109', 'PULocationID=11',
       'PULocationID=111', 'PULocationID=112', 'PULocationID=113',
       'PULocationID=114', 'PULocationID=115', 'PULocationID=116',
       'PULocationID=117', 'PULocationID=118', 'PULocationID=119',
       'PULocationID=12', 'PULocationID=120', 'PULocationID=121',
       'PULocationID=122', 'PULocationID=123', 'PULocationID=124',
       'PULocationID=125', 'PULocationID=126', 'PULocationID=127',
       'PULocationID=128', 'PULocationID=129', 'PULocationID=13',
       'PULocationID=130', 'PULocationID=131', 'PULocationID=132',
       'PULocationID=133', 'PULocationID=134', 'PULocationID=135',
       'PULocationID=136', 'PULocationID=137', 'PULocationID=138',
       'PULocationID=139', 'PULocationID=14', 'PULocationID=140',
       'PULocationID=141', 'PULocationID=142', 'PULocationID=143',
       'PULocationID=144', 'PULocationID=145', 'PULocationID=146',
       'PULocationID=147', 'PULocationID=148', 'PULocationID=149',
       'PULocationID=15', 'PULocationID=150', 'PULocationID=151',
       'PULocationID=152', 'PULocationID=153', 'PULocationID=154',
       'PULocationID=155', 'PULocationID=156', 'PULocationID=157',
       'PULocationID=158', 'PULocationID=159', 'PULocationID=16',
       'PULocationID=160', 'PULocationID=161', 'PULocationID=162',
       'PULocationID=163', 'PULocationID=164', 'PULocationID=165',
       'PULocationID=166', 'PULocationID=167', 'PULocationID=168',
       'PULocationID=169', 'PULocationID=17', 'PULocationID=170',
       'PULocationID=171', 'PULocationID=172', 'PULocationID=173',
       'PULocationID=174', 'PULocationID=175', 'PULocationID=177',
       'PULocationID=178', 'PULocationID=179', 'PULocationID=18',
       'PULocationID=180', 'PULocationID=181', 'PULocationID=182',
       'PULocationID=183', 'PULocationID=184', 'PULocationID=185',
       'PULocationID=186', 'PULocationID=187', 'PULocationID=188',
       'PULocationID=189', 'PULocationID=19', 'PULocationID=190',
       'PULocationID=191', 'PULocationID=192', 'PULocationID=193',
       'PULocationID=194', 'PULocationID=195', 'PULocationID=196',
       'PULocationID=197', 'PULocationID=198', 'PULocationID=199',
       'PULocationID=2', 'PULocationID=20', 'PULocationID=200',
       'PULocationID=201', 'PULocationID=202', 'PULocationID=203',
       'PULocationID=205', 'PULocationID=206', 'PULocationID=207',
       'PULocationID=208', 'PULocationID=209', 'PULocationID=21',
       'PULocationID=210', 'PULocationID=211', 'PULocationID=212',
       'PULocationID=213', 'PULocationID=214', 'PULocationID=215',
       'PULocationID=216', 'PULocationID=217', 'PULocationID=218',
       'PULocationID=219', 'PULocationID=22', 'PULocationID=220',
       'PULocationID=221', 'PULocationID=222', 'PULocationID=223',
       'PULocationID=224', 'PULocationID=225', 'PULocationID=226',
       'PULocationID=227', 'PULocationID=228', 'PULocationID=229',
       'PULocationID=23', 'PULocationID=230', 'PULocationID=231',
       'PULocationID=232', 'PULocationID=233', 'PULocationID=234',
       'PULocationID=235', 'PULocationID=236', 'PULocationID=237',
       'PULocationID=238', 'PULocationID=239', 'PULocationID=24',
       'PULocationID=240', 'PULocationID=241', 'PULocationID=242',
       'PULocationID=243', 'PULocationID=244', 'PULocationID=245',
       'PULocationID=246', 'PULocationID=247', 'PULocationID=248',
       'PULocationID=249', 'PULocationID=25', 'PULocationID=250',
       'PULocationID=251', 'PULocationID=252', 'PULocationID=253',
       'PULocationID=254', 'PULocationID=255', 'PULocationID=256',
       'PULocationID=257', 'PULocationID=258', 'PULocationID=259',
       'PULocationID=26', 'PULocationID=260', 'PULocationID=261',
       'PULocationID=262', 'PULocationID=263', 'PULocationID=264',
       'PULocationID=265', 'PULocationID=28', 'PULocationID=29',
       'PULocationID=3', 'PULocationID=30', 'PULocationID=31',
       'PULocationID=32', 'PULocationID=33', 'PULocationID=34',
       'PULocationID=35', 'PULocationID=36', 'PULocationID=37',
       'PULocationID=38', 'PULocationID=39', 'PULocationID=4',
       'PULocationID=40', 'PULocationID=41', 'PULocationID=42',
       'PULocationID=43', 'PULocationID=44', 'PULocationID=45',
       'PULocationID=46', 'PULocationID=47', 'PULocationID=48',
       'PULocationID=49', 'PULocationID=5', 'PULocationID=50',
       'PULocationID=51', 'PULocationID=52', 'PULocationID=53',
       'PULocationID=54', 'PULocationID=55', 'PULocationID=56',
       'PULocationID=57', 'PULocationID=58', 'PULocationID=6',
       'PULocationID=60', 'PULocationID=61', 'PULocationID=62',
       'PULocationID=63', 'PULocationID=64', 'PULocationID=65',
       'PULocationID=66', 'PULocationID=67', 'PULocationID=68',
       'PULocationID=69', 'PULocationID=7', 'PULocationID=70',
       'PULocationID=71', 'PULocationID=72', 'PULocationID=73',
       'PULocationID=74', 'PULocationID=75', 'PULocationID=76',
       'PULocationID=77', 'PULocationID=78', 'PULocationID=79',
       'PULocationID=8', 'PULocationID=80', 'PULocationID=81',
       'PULocationID=82', 'PULocationID=83', 'PULocationID=85',
       'PULocationID=86', 'PULocationID=87', 'PULocationID=88',
       'PULocationID=89', 'PULocationID=9', 'PULocationID=90',
       'PULocationID=91', 'PULocationID=92', 'PULocationID=93',
       'PULocationID=94', 'PULocationID=95', 'PULocationID=96',
       'PULocationID=97', 'PULocationID=98'], dtype=object)

In [36]:
# Compactamos
X_train = csr_matrix(X_train)

In [38]:
del dv
X_train.shape

(3008849, 515)

# Q5. Training a model

Now let's use the feature matrix from the previous step to train a model. 

* Train a plain linear regression model with default parameters 
* Calculate the RMSE of the model on the training data

What's the RMSE on train?

* 3.64
* 7.64
* 11.64
* 16.64

In [39]:
Y = df1[target]

In [40]:
lr = LinearRegression()

In [41]:
lr.fit(X_train, Y)

In [32]:
# Guardando el modelo
joblib.dump(lr, 'yellow_trip_model.joblib')

['yellow_trip_model.joblib']

In [33]:
# Predecir Y2
Y2 = lr.predict(X_train)

In [34]:
# Calcular RMSE
rmse = np.sqrt(mean_squared_error(Y, Y2))

In [37]:
round(rmse, 3)

7.648

## Q6. Evaluating the model

Now let's apply this model to the validation dataset (February 2023). 

What's the RMSE on validation?

* 3.81
* 7.81
* 11.81
* 16.81

In [49]:
def transform_dataframe(df: pd.DataFrame) -> pd.DataFrame:
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df['duration'] = (df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']).dt.total_seconds() / 60
    return df[(df.duration > 1) & (df.duration < 60)]

In [67]:
def setup_features_ohe(df, categorical=[]):
    dv = DictVectorizer(sparse=False)
    trains_dicts = df[categorical].astype(str).to_dict(orient='records')
    X_train = dv.fit_transform(trains_dicts)
    X_train = X_train.astype(np.float32)

    pad_zero = np.zeros((X_train.shape[0], 1))
    X_train = np.hstack([X_train, pad_zero])
    return csr_matrix(X_train)

In [55]:
url = "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-02.parquet"
df2 = pd.read_parquet(url)
df2

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2023-02-01 00:32:53,2023-02-01 00:34:34,2.0,0.30,1.0,N,142,163,2,4.40,3.50,0.5,0.00,0.0,1.0,9.40,2.5,0.00
1,2,2023-02-01 00:35:16,2023-02-01 00:35:30,1.0,0.00,1.0,N,71,71,4,-3.00,-1.00,-0.5,0.00,0.0,-1.0,-5.50,0.0,0.00
2,2,2023-02-01 00:35:16,2023-02-01 00:35:30,1.0,0.00,1.0,N,71,71,4,3.00,1.00,0.5,0.00,0.0,1.0,5.50,0.0,0.00
3,1,2023-02-01 00:29:33,2023-02-01 01:01:38,0.0,18.80,1.0,N,132,26,1,70.90,2.25,0.5,0.00,0.0,1.0,74.65,0.0,1.25
4,2,2023-02-01 00:12:28,2023-02-01 00:25:46,1.0,3.22,1.0,N,161,145,1,17.00,1.00,0.5,3.30,0.0,1.0,25.30,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2913950,2,2023-02-28 23:46:00,2023-03-01 00:05:00,NaN,4.65,NaN,None,249,140,0,20.22,0.00,0.5,4.84,0.0,1.0,29.06,NaN,NaN
2913951,2,2023-02-28 23:26:02,2023-02-28 23:37:10,NaN,2.47,NaN,None,186,79,0,13.66,0.00,0.5,2.65,0.0,1.0,20.31,NaN,NaN
2913952,2,2023-02-28 23:24:00,2023-02-28 23:38:00,NaN,3.49,NaN,None,158,143,0,17.64,0.00,0.5,0.00,0.0,1.0,21.64,NaN,NaN
2913953,2,2023-02-28 23:03:00,2023-02-28 23:10:00,NaN,2.13,NaN,None,79,162,0,13.56,0.00,0.5,2.63,0.0,1.0,20.19,NaN,NaN
2913954,2,2023-02-28 23:03:03,2023-02-28 23:12:51,NaN,2.28,NaN,None,161,140,0,14.89,0.00,0.5,3.78,0.0,1.0,22.67,NaN,NaN

In [56]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2913955 entries, 0 to 2913954
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int32
 8   DOLocationID           int32
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
dtypes: datetime64[us](2), float64(12), int32(3), int64(1), object(1)
memory usage: 389.1+ MB

In [57]:
df2 = transform_dataframe(df2)

In [58]:
df2.shape

(2855558, 20)

In [69]:
X_train2 = setup_features_ohe(df2, categorical)

MemoryError: Unable to allocate 10.9 GiB for an array with shape (2855558, 514) and data type float64

In [60]:
X_train2.shape

(2855558, 514)

In [61]:
model = joblib.load('yellow_trip_model.joblib')

In [62]:
y_pred = model.predict(X_train2)

ValueError: X has 514 features, but LinearRegression is expecting 515 features as input.